@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    height: 6px;              /* height of horizontal scrollbar ← You're missing this */
    width: 6px;               /* width of vertical scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #dddddd;
    border-radius: 10px;
  
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background:  #27272a;
    border-radius: 10px;
  }
  

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }